{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
    
    <div class="container mt-5 mb-5 p-3 shadow rounded" style="max-width: 600px;" >
        <h2 class="text-center">Send Email</h2>
        <form action="{% url 'send_emails' %}" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <div class="form-group">

                {{email_form | crispy}}

                <input type="submit" value="Send Email" class="btn btn-success">

            </div>
            {% include 'alert.html' %}       
        </form>
    </div>
{% endblock %}