{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h2 class="text-center p-5">Email Statistics</h2>
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                Total email sent : <b>{{total_sent}}</b> <br>
                                Sent at : <b>{{email.sent_at}}</b>
                            </div>
                            <div class="col-md-6 text-end">
                                Opend Rate : <b>{{email.open_rate}}%</b> <br>
                                Clicked Rate : <b>{{email.click_rate}}%</b>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <figure>
                        <blockquote class="blockquote">
                            <h4>{{email.subject}}</h4>
                        </blockquote>
                        <div class="mail-body">
                            {{email.body | safe}}
                        </div>
                        {% if email.attachment %}
                            <div class="attachment">
                                <img src="{{email.attachment.url}}" alt="email-attachment" width="100%">
                            </div>
                        {% else %}
                            <div class="no-attachment">
                                <p>No attachment</p>
                            </div>
                        {% endif %}
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}